

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    background: #191b1e;
    color: white;
}
#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
}
#app > * {
    flex: 0 0 auto;
    align-self: stretch;
}


.header {
    height: 8vh;
    min-height: 64px;
    width: auto;
    background: #292c32;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.circle-frame{
    height: 8vh;
    width: 8vh;
    min-width: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.circle {
    border-radius: 100%;
    height: 50%;
    width: 50%;
    flex: 0 0 auto;
    background: #357df7;
}
.titleBlock {
    margin: 3.2vh auto;
    object-fit: contain;
    font-family: Rubik, sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);

}
.contact-form {
    padding-bottom: 3.2vh;
    align-self: stretch;
}
form {
    height:60%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: start
}

label {
    width: 90vw;
    height: auto;
    opacity: 0.87;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--white);
}
@media screen and (min-width: 765px) {
    form > * {
        flex: 0 0 auto;
        margin: 1% auto;
        max-width: 345px;
    }
}
@media only screen and (max-width: 765px) {
    form > * {
        flex: 0 0 auto;
        margin: 2.4% auto;
        max-width: 345px;
    }
}

.footer {
    min-height: 258px;
    background: #292c32;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: center;
}
.footer > * {
    flex: 0 0 auto;
    align-self: auto;
}
.social {
    width: 100%;
    max-width: 345px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    justify-items: baseline;
}
.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 30px;
    grid-template-areas: "venue-claim terms-conditions" "venue-login privacy-policy";
}
.links > * {
    text-decoration: none;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: var(--white);
}
.venue-claim {
    grid-area: venue-claim;
}
.venue-login {
    grid-area: venue-login;
}
.terms-conditions {
    grid-area: terms-conditions;
    opacity: 60%;
}
.privacy-policy {
    grid-area: privacy-policy;
    opacity: 60%;
}
.probbutton {
    border-radius: 8px;
    height: 40px;
    width: 44%;
    background: inherit;
    border: solid 1px rgba(255, 255, 255, 0.36);
    opacity: 0.87;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #72FACA;
    padding: 1vmax;
    text-align: center;
}
.short-input, .long-input {
    width: 100%;
    color:rgba(255, 255, 255, 1);
    font-family: Rubik, sans-serif;
    border-radius: 8px;
    background: inherit;
    margin: auto;

}

input[type="submit"] {
    width: 90vw;
    border-radius: 8px;
    height: 40px;
    background: #5b9af8;
    border: solid 1px #5b9af8;
    margin: 3.2% auto;
    opacity: 0.87;
    font-family: Rubik, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
}



input[type="text"], input[type="email"], input[type="tel"] {
    height: 40px;
    border-radius: 8px;
    border: solid 1px rgba(255, 255, 255, 0.36);
    margin-top: 2%;
    padding:5px 7px;
    font-size: 12px;
    color:white !important;
}

.long-input {
    height: 178px;
    margin-top: 2%;
    color:white !important;
    font-family: sans-serif;
    font-size: 12px;
    padding:5px 7px;
    border: solid 1px rgba(255, 255, 255, 0.36);
}

.errormessagediv {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
}


